---
title: Guest Information - Jon and Shuo's wedding
---

.page-wrapper
  %h1.cursive Guest Information

  %h2.h4 The Venue
  %p.lead Our wedding will be hosted by Halifax Hall, Sheffield. It is located within the University of Sheffield's Endcliffe Village, right next to the Botanical Gardens.
  %p.lead.mb-5 You can find out more about how to get there, parking information etc #{link_to 'on their website', 'https://www.halifaxhall.co.uk/', target: '_blank'}.

  %h2.h4 Gift Registry
  %p.lead.mb-5
    Their is no gift registry, but we would appreciate any generous contributions to the ‘honeymoon fund’ through Paypal:
    %br
    #{link_to 'https://paypal.me/jonandshuowedding', 'https://paypal.me/jonandshuowedding', target: '_blank', class: 'break-word'}

  %p.lead.mb-0
    If you have any other questions, please email us at
    %br
    = mail_to 'questions@jonandshuo.wedding', 'questions@jonandshuo.wedding', class: 'break-word'

  %hr
  = link_to "&laquo; Back", '/', class: 'float-end'