---
title: Photos - Jon and Shuo's wedding
---

.page-wrapper
  %h1.cursive Photos

  %p.lead To view our wedding photos, visit #{link_to 'https://sharontreesphotography.pixieset.com/guestlogin/jonandshuowedding/', 'https://sharontreesphotography.pixieset.com/guestlogin/jonandshuowedding/', target: '_blank'}.
  %p.lead
    You can use your own email address, and the gallery password is
    %code halifax#0807

  %hr
  .d-flex.mt-md-3.align-items-center
    = link_to "&laquo; Back", '/', class: 'ms-auto'