---
title: Jon and Shuo's wedding
---

.banner
  %h1.cursive Save the Date

  .lead For the wedding of

  .names.my-3
    %span.gold Jonathan
    %span.cursive.amp &amp;
    %span.gold Shuo


  .lead.mb-3 Saturday 8th July 2023

  .lead
    = link_to 'Halifax Hall, Sheffield', 'https://goo.gl/maps/dWNT3YUVEMrPxzpPA', target: '_blank'