---
title: Jon and Shuo's wedding
---

.banner
  %h1.cursive Thank you for joining us for

  .lead The wedding of

  .names.my-3
    %span.gold Jonathan
    %span.cursive.amp &amp;
    %span.gold Shuo

  .lead.mb-3 Saturday 8th July 2023

  .lead
    = link_to 'Halifax Hall, Sheffield', 'https://goo.gl/maps/dWNT3YUVEMrPxzpPA', target: '_blank', class: 'banner-link'

  .row.g-3.action-row
    .col-md-6.offset-md-3
      = link_to 'Photos', '/photos', class: 'btn btn-default d-block'